<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table style="width: 100%">
      <tr>
        <td
          style="
            background: #3461fd;
            padding: 10px 10px;
            text-align: center;
            vertical-align: middle;
          "
        >
          <img
            src="https://res.cloudinary.com/orekud/image/upload/v1664065704/fashion_tunnel/assets/ft_logo_voeupc.png"
            alt="fashion-tunnel-logo"
            style="width: 210px; height: 48px; object-fit: contain"
          />
        </td>
      </tr>
      <tr>
        <td>
          <p>Hello, David</p>
          <p>We received a request to reset your password.</p>
          <p>Enter the code below to reset it</p>
          <p style="text-align: center; font-size: 24px; font-weight: 500">
            43563
          </p>
          <p>This code will expire in 2 minutes.</p>
          <p>
            If this was a mistake, just ignore this email and nothing will
            happen.
          </p>
        </td>
      </tr>
      <tr>
        <td
          style="
            background: #3461fd;
            padding: 40px 20px;
            text-align: center;
            vertical-align: middle;
            color: #ffffff !important;
          "
        >
          <p style="color: #ffffff !important">
            Copyright &copy; 2022
            <span style="font-weight: 500">FashionTunnel</span>. All rights
            reserved.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
